:root {
  --bg-dark: #171717;
  --bg-grey: #444444;
  --bg-color: #DA0037;
  --bg-white: #EDEDED;
  --shadow: rgba(0, 0, 0, 0.16) 1px 2px 4px;
}

/* basic reset */
*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* footer support */
  position: relative;
  height: 100%;
}

.container {
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
}

body {
  font-family: sans-serif;
  margin-bottom: 50px;
  background-color: #171717;
  height: 90%;
}

.header {
  padding-top: 7%;
  color: #EDEDED;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 3.5vw, 4.5rem);
  text-shadow: 4px 4px var(--bg-color) ;
  font-weight: 900;
}

.main {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main .gameboard {
  background-color: #DA0037;
  width: min(480px, 100%);
  height: min(480px, 100%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}
.main .gameboard .game-tile {
  background-color: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 20vw, 7rem);
  color: var(--bg-white);
}

.main .gameboard .game-tile:hover {
  background-color: #444444;
}
.player-turn {
  margin-top: 20px;
  font-size: clamp(1rem, 20vw, 2rem);
  color: var(--bg-white);
}
.button-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.button-container .btn-restart {
  border: none;
  font-size: clamp(1rem, 20vw, 2rem);
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #DA0037;
  color: #EDEDED;
  font-weight: 900;
}
.button-container .btn-restart:hover {
  filter: brightness(80%);
  
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 15px;
  color: #EDEDED;
}